/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}


titulo-municipio {
    margin-left: 12px;
    font-size: 18px;
    color: #fff;
    line-height: 2.0;
}

.titulo-transparencia {
    margin-left: 12px;
    color: #fff;
    line-height: 0.4;
}

.iconAbase .fa-suitcase {
    color: #00c0c8;
}

.iconAbase .fa-windows {
    color: #fb9678a3;
}

.iconAbase .fa-bars {
    color: #ab8ce4c7;
}

.iconAbase .fa-users-cog {
    color: #00c292;
}

.iconAbase .fa-city {
    color: #e21b2f8a;
}

.iconAbase .fa-warehouse {
    color: #fec20b;
}

.iconAbase .fa-sign-out-alt {
    color: #fb9678;
}

.iconAbase .fa-opera {
    color: #ee272c;
}

.iconAbase .fa-rocket {
    color: #00c0c8;
}
.iconAbase .fa-building {
    color: #e21b2f8a;
}

.select2-abase {
    width: 100%;
}

.required:after {
    content: " *";
    color: red;
}