@page "/orgao"

<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Listagem de Órgãos</h4>
	</div>
	<div class="col-md-6 align-self-center text-right">
		<div class="d-flex justify-content-end align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a id="inicio" href="/home">Início</a></li>
			</ol>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
                    <div class="col-md-6 col-sm-6" style="margin-top:10px;">
                        <h6 class="card-title col-md-12 no-padding m-b-20 mt-0">Gerenciamento de Órgãos</h6>
                    </div>
                    <div class="col-6 col-sm-6 text-right">
                        <button data-toggle="tooltip" data-title="Adicionar novo registro" class="btn btn-info" onclick="window.location.href = '/orgao/formulario'">
                            <i class="fa fa-plus"></i>
                            Novo Órgão
                        </button>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h6 class="card-title col-md-12 no-padding">Orgão:</h6>
                        <div class="input-group">
                            <input class="form-control" type="text" id="orgaos" name="orgaos" placeholder="Nome">
                            <button class="btn btn-secondary" onclick="$('#orgaos').val('');buscaConsulta();" type="button" alt="default">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h6 class="card-title col-md-12 no-padding ">Status:</h6>
                        <div class="input-group flex-nowrap">
                            <select class="form-control js-example-basic-single" id="status" name="status" onchange="BuscaConsulta($(this).val())">
                                <option value="2"selected>Todos</option>
                                <option value="1">Ativo</option>
                                <option value="0">Inativo</option>
                            </select>
                            <button class="btn btn-secondary" onclick="$('#status').val(''); $('#status').select2(); BuscaConsulta();" type="button" alt="default"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
				<div class="table-responsive no-padding" id="div-table" style="display:none;">
                    <table id="dataTable" class="table display table-bordered table-striped wrap dt-responsive no-padding" style="width: 100%;">
                        <thead class="no-padding">
                            <tr>
                                <th>Órgãos</th>
                                <th>Descrição</th>
								<th>Status</th>
                                <th></th>

                            </tr>
                        </thead>
                    </table>
                    <div class="col-6 col-sm-6">
                        <button class="btn btn-info" id="imprimir" type="button" alt="default" onclick="Imprimir(this)">
                            <i class="fas fa-print"></i>
                            Imprimir Órgãos
                        </button>
                    </div>
                </div>
                
                    <div class="text-center text-invest-1" id="table-loading">
						<i class="fa fa-circle-notch fa-spin loading-table" style="font-size: 75px!important;margin:50px;"></i>
					</div>
			</div>
		</div>
	</div>

</div>

<div id="myModalExcluir" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalExcluirLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalExcluirLabel">Excluir Órgão</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input id="id-excluir" hidden />
                <h6>Deseja realmente excluir o Módulo <span style="font-weight:bold" id="spn-texto"></span>?</h6>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-secondary col-lg-2 col-md-12" data-dismiss="modal" style="padding-right:30px; padding-left:30px;">Não</button>
                <button type="button" class="btn waves-effect waves-light btn-danger col-lg-2 col-md-12" data-dismiss="modal" style="padding-right:30px; padding-left:30px;" onclick="excluir(this)">Sim</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalAlterar" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalAlterarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalAlterarLabel">Alterar Orgão</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input id="id-alterar" hidden />
                <h6>Deseja realmente alterar o Módulo <span style="font-weight:bold" id="spn-texto"></span>?</h6>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-secondary col-lg-2 col-md-12" data-dismiss="modal" style="padding-right:30px; padding-left:30px;">Não</button>
                <button type="button" class="btn waves-effect waves-light btn-danger col-lg-2 col-md-12" data-dismiss="modal" style="padding-right:30px; padding-left:30px;" onclick="window.location.href = '/orgao/formulario'">Sim</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
<script src="~/js/pages/orgao.js?@FileVersion.Versao()"></script>
}